.git
.gitignore
.DS_Store
**/.DS_Store
logs/*
!logs/README.md
logs/.watcher-state
inbox-720p/*
!inbox-720p/README.md
inbox-1080p/*
!inbox-1080p/README.md
working/*
!working/README.md
out/720p/*
!out/720p/README.md
out/1080p/*
!out/1080p/README.md
done/720p/*
!done/720p/README.md
done/1080p/*
!done/1080p/README.md
failed/720p/*
!failed/720p/README.md
failed/1080p/*
!failed/1080p/README.md